<h1>フォロー一覧</h1>
<div>
  <% @contributors.each do |contributor| %>
   <div class="card shadow-lg">
      <%= link_to contributor_path(contributor.id) do %> <!--各ブランド情報ページのリンク -->
        <%= image_tag contributor.get_profile_image(100,100) %></br>
        <%= contributor.brand_name %></br>
      <% end %>
   </div>
  <% end %>
</div>