<div class="background">
  <h2 class="text-center">Followings</h2>
  </br>
  <div class="following-area">
  </br>
    <div class="followings card shadow">
      <% @contributors.each do |contributor| %>
          <%= link_to web_admin_contributor_path(contributor.id), class: "text-secondary" do %> <!--各ブランド情報ページのリンク -->
            <%= image_tag contributor.get_profile_image(162,211) %></br>
            <%= contributor.brand_name %></br>
          <% end %>
      <% end %>
    </div>
  </div>
</div>