// Place all the styles related to the public/contributor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.brand-area1{
  display: flex;
  align-content:center;
  padding: 0 0 100px 0;
}

.brand-area2{
  padding: 0 0 0 30px;
}

.brand-explanation{
  font-size: 40px;
  width: 423px;
  height: 423px;
  left: 737px;
  top: 277px;
  background: #D9D9D9;
}

.step-box1-2{
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 10px;
	flex-wrap: wrap;
	align-content:stretch;
}