// Place all the styles related to the public/contributor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.brand-image{
  position: absolute;
  width: 523px;
  height: 700px;
  left: 131px;
  top: 131px;
}

.item{
  position: absolute;
  width: 259px;
  height: 302px;
  left: 131px;
  top: 1033px;
}