// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.background{
 	background: url("main.jpg") fixed center no-repeat;
 	background-size: 100%;
	position: relative;
	width: 100%;
	height: 100vh;
}

h1 {
}

.step-box{
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 10px;
	flex-wrap: wrap;
}

.step-image{

}

.step-name{

}