// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 .top{
  background-image: url(app/assets/images/main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }