// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// .background{
//  	background: url("main.jpg") fixed center no-repeat;
//  	background-size: 100%;
// 	position: relative;
// 	width: 100%;
// 	height: 100vh;
// }


.step-box1-1{
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 0 300px 0 300px;
	flex-wrap: wrap;
	align-content:stretch;
}

.card {
	margin: 0 0 100px 0;
}

.step-image1-1{
	margin-bottom: 30px;
}

.pagination{
	justify-content: center;
}