<div class="container">
  <h2 class="text-center">About</h2>
  <div class="text-center">
    <p>
      Faind_FashionはいろんなファッションSNSサイトです。<br>
    　このサイトは、いろんなインフルエンサーの人たちの個人ブランドを</br>
    　簡単に調べることができるサイトになります！<br>
    　普段ならInstagramやYouTube等から地道に探さないと辿りつけることができませんが<br>
    　ここではニッチなブランドを探すことが可能です。<br>
    　会員登録をすれば商品のお気に入りやブランドのフォローもすることができます！！</br>
    　自分のお気に入りのブランドをさがそう！！！
  </div>
  <div class="text-center">
    <%= image_tag 'main.jpg', width: '70%', height: '70%' %>
  </div>
</div>
