<h1>利用者トップ</1>
<div class="top"></div>
<div>
  <% @contributors.each do |contributor| %>
   <div class="card w-25 mx-auto mt-4 shadow-lg">
      <%= link_to contributor_path(contributor.id) do %> <!--各ブランド情報ページのリンク -->
        <%= image_tag contributor.get_profile_image(100,100) %></br>
        <%= contributor.brand_name %></br>
      <% end %>
   </div>
  <% end %>
</div>