<link rel="stylesheets" href="public/homes.scss"/>
  <div class="background">
    <h1 class="title">Brand</h1>
    <div class="container">
      <div class="row step-box1-1">
        <% @contributors.each do |contributor| %>
          <div class="card  shadow">
            <%= link_to contributor_path(contributor.id), class: "text-secondary" do %> <!--各ブランド情報ページのリンク -->
              <div class="step-image1-1"><%= image_tag contributor.get_profile_image(150,150) %></div></br>
              <div class="step-name1-1"><%= contributor.brand_name %></div></br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
<div class="pagination">
  <p><%= paginate @contributors %></p>
</div>
