<h2 class="text-center">Followers</h2>
</br>
<div class="container following-area">
</br>
  <div class="row d-flex justify-content-around">
    <div class="followings">
    <% @customers.each do |customer| %>
      <div class="card shadow">
        <%= link_to web_admin_customer_path(customer.id), class: "text-secondary" do %>
          <div class="step-image1-1"><%= image_tag customer.get_profile_image(150,150) %></div></br>
          <div class="text-center"><%= customer.account %></div></br>
        <% end %>
      </div>
    <% end %>
  </br>
</div>