<h1>投稿者アカウント一覧</h1>
<% @contributors.each do |contributor| %>
  <%= link_to web_admin_contributor_path(contributor.id) do %>
    <%= image_tag contributor.get_profile_image(100,100) %>
    <%= contributor.brand_name %>
  <% end %>
  <% if contributor.is_deleted %>
    退会済み
    <% else %>
    有効
  <% end %>
<% end %>