/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  header{
    font-family: 'Athelas';
    background-color: #555555;
    color: #ffffff;
  }

  body{
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }

  .top{
    font-family: 'Athelas';
    font-size: 50px;
  }


  main{
    /*background-image: url("backimage.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex: 1;
  }

  .sosyal {
    margin: 10px auto;
  }

  .twitter {
    background-color: #008DDE;
    box-shadow: 0 4px 0 #0078BD;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
  }

  .twitter:active {
    top: 2px;
	  box-shadow: 0 2px 0 #0078BD;
  }

  .twitter:hover {
    background-color: #1397D8;
  }

  .google {
    background-color: #CC3622;
    box-shadow: 0 4px 0 #BA2714;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
  }
  .google:active {
    top: 2px;
  	box-shadow: 0 2px 0 #BA2714;
  }
  .google:hover {
    background-color: #D04829;
  }

  h1{
    font-family: 'Athelas';
  }

  h2{
    padding-top: 20px;
    font-family: 'Athelas';
  }

  footer{
    margin-top: 50px;
    background-color: #555555;
    color: #ffffff;
    padding-top: 2em;
    padding-bottom: 1.2em;
  }