<link rel="stylesheets" href="public/favorites.scss"/>
<div class="background">
  <h1 class="text-center">お気に入り一覧</h1>
  <div class="favorite-area">
    <div class="favorites">
    <% @favorite_items.each do |item|%>
        <%= link_to item_path(item) do %>
          <%= image_tag item.image ,size:'162x211' %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
