<link rel="stylesheets" href="public/favorites.scss"/>
<div class="background">
  <h1 class="text-center">お気に入り一覧</h1>
  <div class="favorite-area">
    <% @favorite_items.each do |item|%>
      <div class="favorites">
        <%= link_to item_path(item) do %>
          <%= image_tag item.image ,size:'100x100' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
